<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <script src="{% static 'js/form_validation.js' %}"></script>
</head>
<body>
    <form method="post" action="/user/login" onsubmit="return submit_check('login')">
        <p>
            <label for="username">用户名</label>
            <input type="text" name="username" id="username" onkeyup="username_check()" onfocus="tips_cancel()">
            <span id="username_hint"></span>
        </p>
        <p>
            <label for="password1">密码</label>
            <input type="password" name="password1" id="password1" onkeyup="password1_check()">
            <span id="password1_hint"></span>
        </p>
        <p>
            <input type="checkbox" name="remember" id="remember">
            <label for="remember">记住用户名</label>
        </p>
        <p>
            <input type="submit" value="登录">
        </p>
        <p id="tips"> {{ tips }}</p>
    </form>
</body>
</html>